body {
  font-family: "Asap", sans-serif;
}
* {
  margin: 0;
  padding: 0;
}
*::before *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  width: 100%;
  height: 750px;
  background: url(/images/imgface.png) no-repeat center;
  background-size: 100%;
}

.container {
  width: 1170px;
  margin: 0 auto;
}
.header_inner {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation_links {
  margin-right: 10px;
  color: #4d4d4d;
  font-size: 16px;
  text-decoration: none;
  padding-bottom: 5px;
  transition: 0.1s linear;
}
.navigation_links:hover {
  border-bottom: 1px #4d4d4d solid;
}
.header_info {
  margin-top: 180px;
}
.LO {
  font-size: 90px;
  color: #4d4d4d;
}
.UE {
  font-size: 22px;
  color: #4d4d4d;
  opacity: 0.7;
  font-weight: bold;
  margin-bottom: 40px;
}
.info_links {
  color: #4d4d4d;
  opacity: 0.9;
  text-decoration: none;
  font-weight: bold;
  padding: 20px 30px;
  border: 1px solid #4d4d4d;
  margin-right: 20px;
  transition: 0.1s linear;
}
.info_links:hover {
  background-color: #ffffff;
  border: 1px solid #ffffff;
}
.info_links2 {
  color: #4d4d4d;
  opacity: 0.9;
  text-decoration: none;
  font-weight: bold;
  padding: 20px 50px;
  border: 1px solid #4d4d4d;
  transition: 0.1s linear;
}
.info_links2:hover {
  background-color: #ffffff;
  border: 1px solid #ffffff;
}
.about {
  width: 100%;
  height: 670px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.KM {
  margin-top: 10px;
  font-size: 46px;
  font-weight: bold;
  color: #4d4d4d;
  opacity: 0.8;
}
.LI {
  color: #4d4d4d;
  font-size: 16px;
  font-weight: 500;
  opacity: 0.8;
  line-height: 1.5;
  margin-bottom: 40px;
}
.DMC {
  font-weight: bold;
  text-decoration: none;
  color: #4d4d4d;
  padding: 20px 50px;
  border: 1px solid #4d4d4d;
  transition: 0.1s linear;
}
.DMC:hover {
  background-color: #4d4d4d;
  color: #ffffff;
}
.SEC {
  background-color: #f6f6f6;
  height: 690px;
}
.services1 {
  margin: 0 auto;
  margin-top: 75px;
  width: 940px;
  height: 350px;
  display: flex;
  flex-wrap: wrap;
}
.services0_inner {
  margin: 0 auto;
  width: 240px;
  padding-top: 120px;
  text-align: center;
}
.SER {
  text-transform: uppercase;
  font-size: 46px;
  font-weight: bold;
  color: #4d4d4d;
  opacity: 0.8;
}

.services1__inner {
  width: 150px;
  height: 100px;
  text-align: center;
  margin-left: 81px;
  margin-right: 81px;
}
.img1 {
  margin-bottom: 8px;
}
.US {
  font-size: 18px;
  color: #4d4d4d;
  opacity: 0.8;
  font-weight: bold;
}
.img2 {
  margin-bottom: 20px;
}
.IA {
  font-size: 18px;
  color: #4d4d4d;
  opacity: 0.8;
  font-weight: bold;
}
.img3 {
  margin-bottom: 8px;
}
.myskills1 {
  margin: 0 auto;
  margin-top: 120px;
  width: 250px;
  text-align: center;
}
.MS {
  letter-spacing: 4px;
  text-transform: uppercase;
  font-size: 46px;
  color: #4d4d4d;
  opacity: 0.8;
  margin-bottom: 55px;
}
.marketing {
  width: 995px;
  margin: 0 auto;
  margin-bottom: 125px;
}
.portfolio {
  background-color: #f6f6f6;
  height: 1110px;
}
.portfolio1 {
  margin: 0 auto;
  padding-top: 120px;
  width: 250px;
  text-align: center;
}
.container1 {
  width: 1370px;
  margin: 0 auto;
}
.portfolio__img {
  width: 1170px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.port {
  margin: 0 30px 30px 0;
}
.port1 {
  margin: 0 0 30px 0;
}
.port2 {
  margin: 0 0 30px 0;
}
.portfolio__bth {
  width: 200px;
  margin: 0 auto;
  text-align: center;
  margin-top: 40px;
}
.bth {
  color: #4d4d4d;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  border: 1px solid #ffffff;
  padding: 20px 50px;
  background-color: #ffffff;
  transition: 0.1s linear;
  box-shadow: 0 8px 70px #4d4d4d9f;
}
.bth:hover {
  background-color: #777777;
  border: 1px solid #777777;
  color: #ffffff;
}

.TESTIMONIALS {
  height: 710px;
}
.TESTIMONIALS1 {
  width: 370px;
  margin: 0 auto;
  padding-top: 125px;
  text-align: center;
}

.TESTIMONIALS__inner {
  display: flex;
  width: 760px;
  height: 165px;
  margin: 0 auto;
  border: 1px solid black;
  padding: 80px 160px;
}
.TESTIMONIALS__img {
  margin-right: 35px;
}
.iop {
  width: 160px;
  height: 160px;
}
.LT {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 500;
}
.CEO {
  font-size: 12px;
  margin-bottom: 20px;
}
.LIO {
  text-transform: uppercase;
  color: #4d4d4d;
  font-size: 16px;
  font-weight: 500;
  opacity: 0.8;
  line-height: 1.5;
  margin-bottom: 40px;
}
.Funfact {
  height: 300px;
  background-color: #f6f6f6;
  display: flex;
  align-items: center;
}
.fun_elements {
  width: 1060px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.elem_work {
  width: 190px;
  height: 180px;
  text-align: center;
}
.elem_work2 {
  margin-top: 20px;
  width: 190px;
  height: 180px;
  text-align: center;
}
.elem_work img {
  padding-bottom: 30px;
}
.elem_work2 img {
  padding-bottom: 30px;
}
.elemNum {
  color: #4d4d4d;
  font-size: 30px;
  padding-bottom: 10px;
}
.elemText {
  color: #4d4d4d;
  text-transform: uppercase;
  font-size: 22px;
}
.elemNum2 {
  color: #4d4d4d;
  font-size: 30px;
  padding-bottom: 2px;
}
